<%- include('../partials/head'); %>
<%- include('../partials/navbar'); %>
<main>
    <h1 id="Uh-Oh">Uh Oh!</h1>
    <div id="cat-wrapper">
        <img
                src="https://i.pinimg.com/736x/c6/80/ea/c680eafa53543372915f778e67a78b7c--cat-posters-hang-in-there.jpg"
                alt="hanging-cat"
                id="hanging-cat-img"
        />
    </div>

    <h2 id="error-404">404 Error!</h2>
    <a href="/1" id="home-link">Go Home</a>
</main>
<%- include('../partials/footer'); %>