#Uh-Oh {
  color: #dba39a;
  text-align: center;
  font-size: 4rem;
}

#hanging-cat-img {
  margin: auto;
  height: 30rem;
  display: block;
}

#error-404 {
  text-align: center;
  color: #dba39a;
  font-size: 4rem;
}
