body {
  margin: 0;
  background-color: #F2F2F2;
  -webkit-text-size-adjust: 100%;
}

#navbar {
  padding: 1rem;
  background-color: #F0DBDB;
}

#page-title {
  margin: 0;
  color: #DBA39A;
  font-size: 1.5rem;
}

#cat-list {
  list-style-type: none;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.cat-item {
  background-color: #DBA39A;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.cat-data-wrapper {
  text-align: center;
  padding: 0.357rem 2rem 2rem;
}

.cat-date {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: #FEFCF3;
}

.cat-quote {
  font-style: italic;
  font-size: 0.75rem;
  color: #F5EBE0;
}

.cat-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}