body {
  margin: 0;
<<<<<<< HEAD
  background-color: #F2F2F2;
=======
  background-color: #f2f2f2;
>>>>>>> main
  -webkit-text-size-adjust: 100%;
}

#navbar {
  padding: 1rem;
<<<<<<< HEAD
  background-color: #F0DBDB;
=======
  background-color: #f0dbdb;
>>>>>>> main
}

#page-title {
  margin: 0;
<<<<<<< HEAD
  color: #DBA39A;
=======
  color: #dba39a;
>>>>>>> main
  font-size: 1.5rem;
}

#cat-list {
  list-style-type: none;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.cat-item {
<<<<<<< HEAD
  background-color: #DBA39A;
=======
  background-color: #dba39a;
>>>>>>> main
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.cat-data-wrapper {
  text-align: center;
  padding: 0.357rem 2rem 2rem;
}

.cat-date {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
<<<<<<< HEAD
  color: #FEFCF3;
=======
  color: #fefcf3;
>>>>>>> main
}

.cat-quote {
  font-style: italic;
  font-size: 0.75rem;
<<<<<<< HEAD
  color: #F5EBE0;
=======
  color: #f5ebe0;
>>>>>>> main
}

.cat-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> main
