<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4WWGSGND5K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4WWGSGND5K');
    </script>
    <meta charset="UTF-8" />
    <meta
            name="description"
            content="<%= pageNumber === 1 ? "Daily cat pictures with inspirational quotes!" : `Daily Cat - Page (${pageNumber})` %>"
    />
    <meta name="keywords" content="Cats, Quotes, Daily" />
    <meta name="author" content="Tepachelabs" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="/images/dailycat-logo.svg" />
    <title>Dailycat | <%= pageNumber === 1 ? "Funny Daily Cat Pictures" : `Page (${pageNumber})` %></title>
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>